@import '~styles/variables.styl'
@import '~styles/mixins.styl'

.strengths-title::before
    background-cover('./strengths-icon.png')

.strengths-component strong
    color: main-color
    text-transform: uppercase

.strengths li
    margin: 1rem 0
    padding: 0.25rem

.img-strength
    width: 1.5rem

.strengths p
    margin-left: 2.5rem
    margin-bottom: 0.5rem
