@import '~styles/variables.styl'
@import '~styles/mixins.styl'

.strengths-title::before
    background-cover('./strengths-icon.svg')

.strengths-component strong
    color: main-color
    text-transform: uppercase

.strengths li
    margin: 1em 0
    padding: 0.25em

.img-strength
    width: 1.5em

.strengths p
    margin-left: 2.5em
    margin-bottom: 0.5em
