<section class="cv-component skills-component">
    <h2 class="section-title skills-title">Skills</h2>
    <div class="skills-container">
        <ul class="skill-list no-bullets">

        </ul>
    </div>
</section>