<section class="cv-component projects-component">
    <h2 class="section-title projects-title">Projects</h2>
    <div class="projects-container">
        {{#each projects}}
            <p>
                <strong>{{title}}</strong>
            </p>
        {{/each}}
    </div>
</section>