<section class="skills-container">
    {{#each skills}}
    <article class="skill hexagon">
        <div class="skill-content">
            <h3>{{name}}</h3>
            <img class="skill-icon" src="{{iconUrl}}" alt="{{name}} icon">
        </div>
    </article>
    {{/each}}

</section>