<section class="cv-component skills-component">
    <h2 class="section-title skills-title">Skills</h2>
    <div class="skills-container">
        {{#each rows}}
        <div class="skill-row clearfix">
            {{#each this}}
            <article class="skill hexagon {{type}}">
                <div class="skill-content">
                    <strong class="skill-name">{{name}}</strong>
                </div>
            </article>
            {{/each}}
        </div>
        {{/each}}
    </div>
    <script src="./scripts/skills.js"></script>
</section>