<section class="skills-container">
    {{#each skills}}
    <article class="skill hexagon {{type}}">
        <div class="skill-content">
            <h4 class="skill-name">{{name}}</h4>
            <img class="skill-icon" src="{{iconUrl}}" alt="{{name}} icon">
        </div>
    </article>
    {{/each}}

</section>