@import 'variables.styl'
@import 'mixins.styl'

.languages-component strong
    text-transform: uppercase
    color: custom-blue

.languages-component em
    text-transform: capitalize

.languages-component li
    margin-top: 1em
    padding: 0.5em 1em

.languages-title::before
    background-cover('../assets/languages-icon.png')