@import 'variables.styl'
@import 'mixins.styl'

.projects-title::before
    background-cover('../assets/projects-icon.png')

.projects-component .projects li
    padding: 1em

.projects-component .projects li strong
    margin-bottom: 0.5em
    display: inline-block
    font-size: 24px
    font-weight: normal
    color: custom-red

.projects-component .projects .description
    margin-top: 0.5em

.projects-component .link
    color: custom-blue
