@import 'variables.styl'
@import 'mixins.styl'

.skill-content
    background: main-color

.skill-content:hover
    opacity: 0.75

.skill-content
    text-transform: uppercase

.skill-content strong
    display: inline-block
    margin: 0.25em auto

.rectangle
    margin: 0.5em 1em
    cursor: pointer
    float: left

.rectangle .skill-content
    margin: 0
    padding: 2em

.rectangle .skill-content .skill-name
    color: white

.skill
    font-size: 12px
    text-align: center

.skills-title::before
    background-cover('../assets/skills-icon.png')

.skills-container
    margin-top: 2em

.skill-details-container
    background: white
    margin-top: -100em
    margin-left: 15em
    min-height: 10em
    padding: 1em 1em 3em 1em
    position: fixed
    width: 35em
    z-index: 999
    transition(all 0.5s ease-in-out)

.skill-details-container.active
    margin-top: 0

.skill-title
    text-transform: uppercase

.skill-description
    margin-top: 1em

.close-btn
    color: white
    text-align: center
    line-height: 1.4em
    padding: 0.25em 1em
    position: absolute
    right: 1em
    bottom: 1em
    vertical-align: middle
    text-decoration: none
    font-weight: bold
    display: inline-block
    opacity: 0.75
    transition(opacity 2s)

.skill-details-container.tech p strong
    color: main-color

.close-btn.soft
    background-color: main-color

.close-btn:hover
    opacity: 1

.skill-details-container.soft p strong
    color: main-color

.close-btn.tech
    background-color: main-color

.skill-details-container
    border: 2px solid main-color
