.tech .skill-content {
    background: #FF5050;
    border-radius: 50%;
}

.soft .skill-content {
    background: #0068A9;
    border-radius: 50%;
}

.skill-content:hover {
    opacity: 0.75;
    text-shadow: 2px 2px 10px black;
}

.skill-content {
    box-sizing: content-box;
    text-transform: uppercase;
}

.skill-content strong {
    display: inline-block;
    margin: 0.25em auto;
}

.ellipse {
    margin: 0.5em 1em;;
    cursor: pointer;
    float: left;
}

.ellipse .skill-content {
    margin: 0;
    padding: 2em;
}

.ellipse .skill-content .skill-name {
    color: white;
}

.skill {
    font-size: 12px;
    text-align: center;
}

.skills-title::before {
    background: url('../assets/skills-icon.png');
    background-size: cover;
}

.skills-container {
    margin-top: 2em;
}

.skill-details-container {
    position: fixed;
    z-index: 999;
    width: 35em;
    margin-top: -100em;
    margin-left: 15em;
    min-height: 10em;
    background: white;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 5px 5px 10px #cccccc;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.skill-details-container.active {
    margin-top: 0;
}

.skill-title {
    text-transform: uppercase;
}

.skill-description {
    margin-top: 1em;
}

.close-btn {
    border: 2px dashed lightgray;
    color: gray;
    text-align: center;
    line-height: 1.4em;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: inline-block;
}

.skill-details-container.tech {
    border: 2px dashed #FF5050;
}

.skill-details-container.tech p strong {
    color: #FF5050;
}

.skill-details-container.soft p strong {
    color: #0068A9;
}

.close-btn.tech:hover {
    background-color: #ff9999;
}

.skill-details-container.soft {
    border: 2px dashed #0068A9;
}

.close-btn.soft:hover {
    background-color: #0098f9;
}