@import 'variables.styl'
@import 'mixins.styl'

.tech .skill-content
    background: custom-red

.soft .skill-content
    background: custom-blue

.skill-content:hover
    opacity: 0.75
    text-shadow: 2px 2px 10px black

.skill-content
    text-transform: uppercase

.skill-content strong
    display: inline-block
    margin: 0.25em auto

.rectangle
    margin: 0.5em 1em
    cursor: pointer
    float: left

.rectangle .skill-content
    margin: 0
    padding: 2em

.rectangle .skill-content .skill-name
    color: white

.skill
    font-size: 12px
    text-align: center

.skills-title::before
    background-cover('../assets/skills-icon.png')

.skills-container
    margin-top: 2em

.skill-details-container
    background: white
    box-shadow: 5px 5px 10px #cccccc
    margin-top: -100em
    margin-left: 15em
    min-height: 10em
    padding: 1em
    position: fixed
    width: 35em
    z-index: 999
    transition(all 0.5s ease-in-out)

.skill-details-container.active
    margin-top: 0

.skill-title
    text-transform: uppercase

.skill-description
    margin-top: 1em

.close-btn
    border: 2px solid lightgray
    color: gray
    text-align: center
    line-height: 1.4em
    vertical-align: middle
    text-decoration: none
    font-weight: bold
    width: 1.5em
    height: 1.5em
    border-radius: 50%
    display: inline-block

.skill-details-container.tech
    border: 2px solid custom-red

.skill-details-container.tech p strong
    color: custom-red

.skill-details-container.soft p strong
    color: custom-blue

.close-btn.tech:hover
    background-color: lighten(custom-red, 10)

.skill-details-container.soft
    border: 2px solid custom-blue

.close-btn.soft:hover
    background-color: lighten(custom-blue, 20)