@import 'variables.styl'

.strengths-title::before {
    background: url('../assets/strengths-icon.png');
    background-size: cover;
}

.strengths-component strong {
    color: custom-red;
    text-transform: uppercase;
}

.strengths li {
    margin: 1em 0;
    padding: 0.25em;
}

.img-strength {
    width: 1.5em;
}

.strengths p {
    margin-left: 2.5em;
    margin-bottom: 0.5em;
}

