.work-experience-title::before {
    background: url('../assets/experience-logo.gif');
    background-size: cover;
}

.experiences {
    list-style: none;
}

.experience-description {
    display: inline-block;
}

.job-title {
    font-size: 20px;
}

.location {
    color: #0068A9;
    font-weight: bold;
}

.experiences > li {
    padding: 0.5em;
}

.experiences .description-highlights li {
    margin: 0.25em 1em 1em 2em;
}