body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1, h2 {
    text-transform: uppercase;
}

html * {
    margin: 0;
    padding: 0;
    color: #333333;
}

.no-bullets {
    list-style: none;
}

.cv-component {
    margin: 2em;
    position: relative;
}

.bottom-dashed {
    border-bottom: 2px dashed lightgray;
}

.section-title {
    border-bottom: 2px solid #333333;
    margin-left: 2.5em;
}

.section-title::before {
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
    left: 0;
}

.timespan {
    color: gray;
    font-weight: bold;
    font-size: 14px;
}

.pull-left {
    float: left;
}