body {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    opacity: 0;
    transition: opacity 2s;
    height: 120em;
    width: 100%;
    position: relative;
    text-align: center;
}

.visible {
    opacity: 1;
}

h1, h2 {
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
    color: #333333;
}

#container {
    background: url('../assets/cv-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 85em;
    height: 100%;
    text-align: left;
}

.link::before {
    content: '';
    height: 14px;
    width: 14px;
    margin-right: 2px;
    display: inline-block;
    background: url('../assets/link-icon.png');
    background-size: cover;
}

.link.hover-highlight, .hover-highlight {
    transition: color 2s;
}

.link.hover-highlight:hover, .hover-highlight:hover {
    color: #F54F33;
}

.collapsed {
    display: none;
}

.no-bullets {
    list-style: none;
}

.cv-component {
    margin: 5em 2em 0 2em;
    position: relative;
}

.bottom-dashed {
    border-bottom: 2px dashed lightgray;
}

.section-title {
    border-bottom: 2px solid #333333;
    margin-left: 2.5em;
}

.section-title::before {
    content: '';
    position: absolute;
    height: 32px;
    width: 32px;
    left: 0;
}

.timespan {
    color: gray;
    font-weight: bold;
    font-size: 14px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.column-1 {
    width: 50em;
}

.column-2 {
    width: 32em;
}

.clearfix::after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.pdf-export-btn {
    position: absolute;
    right: 1em;
    top: 1em;
}

.custom-btn {
    display: block;
    padding: 1em;
    background-color: #6666ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 9999;
    border: 1px solid gray;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 2s;
}

.custom-btn:hover {
    opacity: 1;
}

.custom-btn:active {
    border: 1px solid white;
}
