.ellipse.tech .skill-content {
    background: #FF5050;
    border-radius: 50%;
}

.ellipse.soft .skill-content {
    background: #6666ff;
    border-radius: 50%;
}

.ellipse.tech:hover .skill-content {
    background: #ff9999;
}

.ellipse.soft:hover .skill-content {
    background: #9999ff;
}

.skill-content {
    box-sizing: content-box;
    font-size: 10px;
    text-transform: uppercase;
}

.skill-content strong {
    display: inline-block;
    margin: 10% auto;
}

.ellipse {
    margin: 0.5em 2em;
    cursor: pointer;
    float: left;
}

.ellipse .skill-content {
    margin: 0;
    padding: 2em;
}

.ellipse .skill-content .skill-name {
    color: white;    
}

.skill {
    font-size: 12px;
    text-align: center;
}

.skills-title::before {
    background: url('../assets/skills-icon.png');
    background-size: cover;
}

.skills-container {
    margin-top: 2em;
}

.skill-details-container {
    position: fixed;
    z-index: 999;
    top: 2.5em;
    right: 2.5em;
    width: 35em;
    min-height: 10em;
    background: white;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 5px 5px 10px #cccccc;
}

.skill-description {
    margin-top: 1em;
}

.close-btn {
    border: 2px dashed lightgray;
    color: gray;
    text-align: center;
    line-height: 1.4em;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: inline-block;
}

.skill-details-container.tech {
    border: 2px dashed #FF5050;    
}

.close-btn.tech:hover {
    background-color: #ff9999;
}

.skill-details-container.soft {
    border: 2px dashed #6666ff;
}

.close-btn.soft:hover {
    background-color: #9999ff;
}