@import '../../styles/variables.styl'
@import '../../styles/mixins.styl'

.projects-title::before
    background-cover('./projects-icon.png')

.projects-component .projects li
    padding: 1em

.projects-component .projects li strong
    margin-bottom: 0.5em
    display: inline-block
    font-size: 24px
    font-weight: normal
    color: main-color

.projects-component .projects .description
    margin-top: 0.5em