@import '~styles/variables.styl'

.personal-info-component
    padding-left: 2em

.personal-info-component .cv-name
    font-size: 42px

.photo-container
    padding: 3em 5em
    position: absolute
    right: 0

.photo
    border-radius: 50%
    width: 12.5em

.img-contact
    width: 2em

.contacts
    margin-left: 0
    padding-left: 1em
    text-align: left
    width: 40em

@media screen and (max-width: 1360px)
    .contacts
        width: 30em

.contacts .pull-left
    min-width: 15em
    display: inline-block
    margin: 0.5em
    line-height: 0.5em
    vertical-align: middle

.contacts em, .contacts a
    vertical-align: middle
    display: inline-block
    height: 1.5em

.cv-title
    color: main-color

.about-me {
    width: 35em
    display: inline-block
}

.about-me p
    padding: 1em 1em 0 0.5em
    font-style: italic
