@import 'variables.styl'

.personal-info-component
    padding-left: 2rem

.personal-info-component .cv-name
    font-size: 42px

.photo-container
    padding: 3rem 5rem
    position: absolute
    right: 0

.photo
    border-radius: 50%
    width: 12.5rem

.img-contact
    width: 2rem

.contacts
    margin-top: 1rem
    margin-left: 0
    padding-left: 1rem
    text-align: left
    width: 40rem

@media screen and (max-width: 1024px)
    .contacts
        width: 30rem

.contacts .pull-left
    min-width: 15rem
    display: inline-block
    margin: 0.5rem
    line-height: 0.5rem
    vertical-align: middle

.contacts em, .contacts a
    vertical-align: middle
    display: inline-block
    height: 1.5rem

.cv-title
    color: main-color

.about-me {
    width: 35rem
    margin-top: 1rem;
    display: inline-block
}

.about-me p
    padding: 1rem 1rem 0 0.5rem
    font-style: italic
