@import '~styles/variables.styl'
@import '~styles/mixins.styl'

.work-experience-title::before
    background-cover('./experience-icon.gif')

.experiences
    margin-top: 1rem

.experience-description
    display: inline-block

.job-title
    font-size: 20px

.location
    color: main-color
    font-weight: bold

.experiences > li
    padding: 0.5rem

.experiences .description-highlights li
    margin: 0.25rem 1rem 1rem 2rem
