@import '~styles/variables.styl'
@import '~styles/mixins.styl'

.education-component .section-title::before
    background-cover('./education-icon.png')

.education-component .location
    color: main-color

.education-component li
    margin-top: 1rem
    padding: 0.5rem 1rem