@media print

    .navigation, .tooltip, .skill-details-container, .page-footer
        display: none

    #container
        margin: 0
        padding: 0

    body
        padding: 0
        background: white
