@import '~styles/variables.styl'
@import '~styles/mixins.styl'

.skill-list
    display: flex
    flex-direction: row
    flex-wrap: wrap

.skill-content
    background: main-color

.skill-content:hover
    opacity: 0.75

.skill-content
    text-transform: uppercase

.skill-content strong
    display: inline-block
    margin: 0.25rem auto

.rectangle
    margin: 0.25rem
    cursor: pointer

.rectangle .skill-content
    margin: 0
    padding: 0.9rem

.rectangle .skill-content .skill-name
    color: white

.skill
    font-size: 10px
    text-align: center

.skills-title::before
    background-cover('./skills-icon.png')
