<section class="cv-component languages-component">
    <h2 class="section-title languages-title">Languages</h2>
    <ul class="no-bullets">
        {{#each languages}}
        <li class="bottom-dashed">
            <strong>{{languageName}}</strong> / <em>{{level}}</em>
        </li>
        {{/each}}
    </ul>
</section>