@import 'variables.styl'
@import 'mixins.styl'

.tooltip
    position: absolute
    background: main-color
    padding: 0.5rem
    text-align: center
    font-weight: bold
    z-index: 9999999
    font-size: 16px
    text-transform: none
    transition(opacity 2s)

.tooltip-opaque
    opacity: 1

.transparent
    opacity: 0.6

.tooltip p
    color: white

.tooltip::after
    content: ' '
    position: absolute
    top: 0.5rem
    border: .5rem solid transparent
    z-index: 9999999

.tooltip.left
    left: calc(-1rem)

.tooltip.right
    right: calc(-1rem)

.tooltip.left::after
    border-left: .5rem solid main-color
    right: -1rem

.tooltip.right::after
    border-right: .5rem solid main-color
    left: -1rem
