@import 'variables.styl'

.personal-info-component
    padding-left: 1rem

.personal-info-component .cv-name
    font-size: 42px

.photo-container
    padding: 3rem 5rem
    position: absolute
    right: 0

.photo
    border-radius: 50%
    width: 12.5rem

.img-contact
    width: 2rem

.contact-entry
    display: flex
    align-items: center

.contacts
    display: grid
    grid-template-columns: 25rem 25rem
    row-gap: 1rem
    margin-top: 1rem
    margin-left: 0
    text-align: left
    width: 45rem

@media screen and (max-width: 1024px)
    .contacts
        width: 30rem

.contacts em, .contacts a
    height: 1.5rem
    margin-left: 0.5rem
    font-style: italic

.cv-title
    color: main-color

.about-me {
    width: 35rem
    margin-top: 1rem;
    display: inline-block
}

.about-me p
    padding: 1rem 1rem 0 0.5rem
    font-style: italic
