<section class="cv-component skills-component">
    <h2 class="section-title skills-title">Skills</h2>
    <div class="skills-container">
        {{#each rows}}
        <ul class="no-bullets">
            {{#each this}}
            <li class="skill rectangle {{type}}">
                <div class="skill-content">
                    <strong class="skill-name">{{name}}</strong>
                </div>
            </li>
            {{/each}}
        </ul>
        {{/each}}
    </div>
</section>