<nav class="navigation">
	<img class="menu-img" src="{{menuIcon}}" alt="navigation menu button">
	<ul class="menu no-bullets">
		<li>
			<a target="_blank" href="/public/static/pdf" class="custom-btn">Download as pdf</a>
		</li>
		<li>
			<a id="btn-print" href="#" class="custom-btn">Print</a>
		</li>
		<li>
			<a target="_blank" href="https://github.com/KonstantinSimeonov/cv" class="custom-btn">Source code</a>
		</li>
	</ul>
</nav>